@import url('http://fonts.cdnfonts.com/css/chedros');
@import url('http://fonts.cdnfonts.com/css/manjari');
* {
    margin: 0;
    padding: 0;
}
html {
    min-height: 100%;
    background-image: url(https://media.istockphoto.com/photos/old-brown-paper-parchment-background-design-with-distressed-vintage-picture-id1283615709?k=20&m=1283615709&s=612x612&w=0&h=EZF3-0n6RStR5gM23-kh5WP2_k6XvKcYqNq-fM73xMQ=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: url(cursor-png-clipart-web-icons-png-31.png), auto;
}
.header {
    width: 100%;
    height: 60px;
    background-color:#2e530e;
    position: fixed;
    z-index: 2;
}
.text1 {
    color: white;
    font-family: 'CHEDROS', sans-serif;
    position: absolute;
    top: 23px;
    left: 120px;
    letter-spacing: 2px;
}
.icon {
    position: absolute;
    top:-5px;
    left: 10px;
    width: 70px;
    height: 70px;
}
.iconStar{
    float: center;
    border: 0px solid red;
    width: 70px;
    height: 70px;
}
.main-nav{
    width:100%;
    font-family: 'Manjari', sans-serif;
    }

.main-nav ul{
    list-style:none;
    position:absolute;
    top:30px;
    left :680px;
    width:750px;

}
.main-nav li {
    float: left;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    line-height: 15.6px;
    margin-right:60px;
    letter-spacing: 3px;
    transform:scale(1,2.5)
}

.main-nav li a {
    text-decoration:none;
    color: #ffffff;

}
.active {
    height: 30px;
    width: 70px;
    border-bottom: 4px solid #5B9A94;
    border-radius: 5px;
    background-color: #62A29E;
}
.header1 {
    margin-top: 20px;
    text-align: center;
    color: #236036;
    letter-spacing: 1px;
    font-family: 'Manjari', sans-serif;
    font-size: 50px;
}

.icon1 {
    transform: rotate(-15deg);
}
.icon2 {
    transform: rotate(15deg);
}
.textA {
    text-align: left;
    font-family: 'Manjari', sans-serif;
    color: #236036;
}
.polaroid1{
    width: 350px;
    height: 300px;
}
p {
    color: #236036;
    font-family: 'Manjari', sans-serif;
}
.hd1 {
    text-align:  right;
}
.con2 {
    margin-top: 30px;
}
.rescale {
    transform: scale(1,0.85)
}